 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./img/coffee-6765818_1280.jpg');
}
html{
    overflow-x: hidden;
}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
header{
    background-color: rgba(255, 0, 0, 0.9);
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Climate Crisis', sans-serif;
    margin-bottom: 100px;
}
nav {
    padding: 20px 0;
    font-family: 'Grape Nuts', cursive;
    display: none;
    background-image: url("./img/coffee-6634858_1920.jpg");
    background-size: cover;
}
nav li {
    list-style: none;
    display: inline;
    margin-left: 10px;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
}
nav li a {
    color:#000;
    text-decoration: none;
}
.menu-hamburguer {
    width:36px;
}
.menu-hamburguer span {
    max-width: 100%;
    height: 3px;
    color: #fff;
    background-color: #fff;
    display: block;
    margin-bottom: 5px;
}
.container-flex{
    display: flex;
}
#loja img {
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin-right: 40px;
    margin-bottom: 250px;
}
.sobre-a-loja {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: space-between;
}
.sobre-a-loja h2 {
    font-size: 30px;
    margin-bottom: 25px;
}
.sobre-a-loja p {
    font-size: 18px;
}
section h3 {
    color: #000;
    font-family: 'Grape Nuts', cursive;
    text-align: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 40px;
}
#lanche-1 {
    width: 350px;
    height: 180px;
    border-radius:10px;
}
.lista-lanches{
    justify-content: space-between;
    align-items: center;
    margin: 40px 15px;
}
.lista-lanches h4{
    margin-top:15px;
    color: #000;
}
.lista-lanches p{
    color: #000;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    margin-top:10px;
}
.lista-lanches strong {
    display: block;
    color:red;
    font-family: 'Oswald', sans-serif;
    margin:10px 0;
}
.lista-lanches button {
    background-color:green;
    width:100%;
    color:#fff;
    border:none;
    border-radius:10px;
    padding:5px;    
}
#compras {
    background-image: url("./img/coffee-6634858_1920.jpg");
    background-size: cover;
}

